/*
Generic reset.
*/
:root {
    --color-bg-primary: #d0d6df;
    --color-bg-primary-offset: #f1f3f7;
    --color-bg-secondary: #fff;
    --color-text-primary: #3a3c42;
    --color-text-primary-offset: #898c94;
    --color-orange: #dc9960;
    --color-green: #1eb8b1;
    --color-purple: #657cc4;
    --color-black: var(--color-text-primary);
    --color-red: #d92027;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--color-text-primary);
}

.test {
    border: 5px red solid;
    padding: 10;
    margin: 10;
    font-family: "Times New Roman";
    font-style: italic;
}

/*
Styles for nodes and connectors.
*/

.node-rect {
    stroke: black;
    stroke-width: 2;
}

.mouseover-node-rect {
    stroke: black;
    stroke-width: 4;
}

.selected-node-rect {
    stroke: red;
    stroke-width: 3;
}

.connector-circle {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.mouseover-connector-circle {
    fill: white;
    stroke: black;
    stroke-width: 3;
}

/*
Style for connections.
*/

.connection {
}

.connection-line {
    stroke: gray;
    stroke-width: 4;
    fill: transparent;
}

.mouseover-connection-line {
    stroke: gray;
    stroke-width: 6;
    fill: transparent;
}

.selected-connection-line {
    stroke: red;
    stroke-width: 4;
    fill: transparent;
}

.connection-endpoint {
    fill: gray;
}

.selected-connection-endpoint {
    fill: red;
}

.mouseover-connection-endpoint {
    fill: gray;
}

.connection-name {
    fill: black;
}

.selected-connection-name {
    fill: red;
}

.mouseover-connection-name {
    fill: gray;
}
/*
Style for the connection being dragged out.
*/

.dragging-connection {
    pointer-events: none;
}

.dragging-connection-line {
    stroke: gray;
    stroke-width: 3;
    fill: transparent;
}

.dragging-connection-endpoint {
    fill: gray;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
    border: solid 1px blue;
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
    stroke: blue;
    stroke-width: 2;
    fill: transparent;
}

/* ADDED STYLES BY aleandro.presta */
.json-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#json-textarea {
}

#refresh-button {
}

#context-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-secondary);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(#404040, 0.15);
    border: 1px solid black;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    display: block;
    width: 100%;
    & + .menu-list {
        border-top: 1px solid #ddd;
    }
}

.menu-item {
    position: relative;
}

.menu-button {
    font: inherit;
    border: 0;
    padding: 8px 8px;
    padding-right: 36px;
    width: 100%;
    border-radius: 8px;
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-bg-secondary);
    cursor: pointer;
    &:hover {
        background-color: var(--color-bg-primary-offset);
        & + .menu-sub-list {
            display: flex;
        }
        svg {
            stroke: var(--color-text-primary);
        }
    }
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top-menu > button {
    color: #ffffff;
    background-color: #005180;
    font-weight: 600;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    height: 45px;
    width: 160px;
	&:hover {
        background-color: var(--color-green);
        & + .menu-sub-list {
            display: flex;
        }
        svg {
            stroke: var(--color-text-primary);
        }
    }
}

.background-board {
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: white;
}

.background-board > rect {
    width: 100%; 
    height: 100%;
    fill: white;
}