<html>
	<head>
		<title>ECC Workflow Designer</title>

		<!-- 
		LiveReload support.
		http://livereload.com/
		-->
		<script src="http://localhost:35729/livereload.js?snipver=1"></script>

		<link rel="stylesheet" href="css/forms.css">
		<link rel="stylesheet" href="css/icons_container.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	</head>	
	<body 
		ng-app="app" 
		ng-controller="AppCtrl"
		mouse-capture
		ng-keydown="keyDown($event)"
		ng-keyup="keyUp($event)"
		ng-click="hideContextMenu()"
		>

		<!-- Modal for error connecting to the server -->
		<div class="modal" id="connectionErrorModal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Server Offline</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>The server is currently offline.</p>
					</div>
				</div>
			</div>
		</div>

		<div class='app-container' style="width: 100%; overflow: hidden;">
		    <div class="json-container" style="float: left;">
				<div class="json-content">
					<textarea 
						id="json-textarea"
						style="width: 100%; height: 100%;"
						chart-json-edit
						view-model="chartViewModel"
						>
					</textarea>
				</div>
			</div>
		    <div class="flowchart-container">
				<div class="container d-flex justify-content-center align-items-center">
					<div class="btn-group">
						<button
						ng-click="toggleJsonButton()"
						class="btn btn-primary">
						Hide JSON
						</button> 
						<button
						ng-click="findMatch()"
						class="btn btn-primary"
						title="Finds match between default catalog and workflow"
						>
						Find Match
						</button>
						<button
						class="btn btn-primary"
						title="Add a new node"
						data-bs-toggle="modal" data-bs-target="#addNodeModal"
						>
						Add Node
						</button>
						<button
						ng-click="saveFile()"
						class="btn btn-primary"
						title="Save the current workflow"
						>
						Save
						</button>
						<button
						ng-click="loadFile()"
						class="btn btn-primary"
						title="Load a workflow"
						>
						Load
						</button>
					</div>	
				</div>

				<!-- Modal for creating new node -->
				
				<!--
				This custom element defines the flowchart.
				-->
			    <flow-chart
		    		style="margin: 5px;"
			      	chart="chartViewModel"
					class="zoom-element"
					ng-style="{'transform': 'scale(' + scale + ')'}"
					on-wheel="handleWheel($event)"
			      	>
			    </flow-chart>
		    </div>
		</div>

		<div class="container d-flex justify-content-center align-items-center">
			<div class="modal fade" id="addNodeModal" tabindex="-1" aria-labelledby="addNodeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="addNodeModalLabel">Create new node</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col">
									<h4>Node Informations</h4>
									<!-- Node Name -->
									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="floatingInputName" placeholder="Name">
										<label for="floatingInputName">Node Name</label>
									</div>

									<!-- Node Type -->
									<div class="input-group mb-3">
										<label class="input-group-text" for="inputGroupNodeType">Type</label>
										<select class="form-select" id="inputGroupNodeType">
											<option selected>Device</option>
											<option value="1">Computation</option>
											<option value="2">Storage</option>
											<option value="3">Communication</option>
										</select>
									</div>

									<!-- Node Description-->
									<div class="form-floating">
										<textarea class="form-control" placeholder="Describe yout node" id="floatingTextareaDescription" style="height: 100px"></textarea>
										<label for="floatingTextareaDescription">Description</label>
									</div>

									<div class="form-floating mb-3">
										<input type="text" class="form-control" id="floatingInputQuantity" placeholder="Quantity">
										<label for="floatingInputQuantity">Node Quantity</label>
									</div>
								</div>
								<div class="col">
									<h4 class="modal-title fs-5">Current Costraints</h4>
									<span class="badge rounded-pill text-bg-primary">
										<div class="container d-flex justify-content-center align-items-center m-0 p-0">
											<span>Execution Time <= 20ms</span>
											<button type="button" class="btn-close btn-close-white" aria-label="Close" style="--bs-btn-font-size: .25rem;"></button>
										</div>
									</span>
									
									<span class="badge rounded-pill text-bg-primary">
										<div class="container d-flex justify-content-center align-items-center m-0 p-0">
											<span>Volume of Data <= 200mb</span>
											<button type="button" class="btn-close btn-close-white" aria-label="Close" style="--bs-btn-font-size: .25rem;"></button>
										</div>
									</span>
									<span class="badge rounded-pill text-bg-primary">
										<div class="container d-flex justify-content-center align-items-center m-0 p-0">
											<a data-bs-toggle="modal" data-bs-target="#addNumericalCostraintModal">Add Numerical Costraint</a>
										</div>
									</span>
									<span class="badge rounded-pill text-bg-primary">
										<div class="container d-flex justify-content-center align-items-center m-0 p-0">
											<a data-bs-toggle="modal" data-bs-target="#addCategoricalCostraintModal">Add Categorical Costraint</a>
										</div>
									</span>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal add numerical costraint -->
		<div class="modal fade" id="addNumericalCostraintModal" tabindex="-1" aria-labelledby="addNumericalCostraintModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-ld">
				<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="addNumericalCostraintModalLabel">Add Numerical Costraint</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<!-- Costraint Name -->
						<div class="col-6">
							<div class="input-group mb-3">
								<select class="form-select" id="inputGroupCostraintName">
									<option selected>Execution Time</option>
									<option value="1">Volume of Data</option>
								</select>
							</div>
						</div>
						<!-- Costraint Type -->
						<div class="col-3">
							<div class="input-group mb-3">
								<select class="form-select" id="inputGroupCostraintName">
									<option selected>==</option>
									<option value="1"><</option>
									<option value="1">></option>
									<option value="1"><=</option>
									<option value="1">>=</option>
								</select>
							</div>
						</div>
						<!-- Costraint Value -->
						<div class="col-3">
							<input type="text" class="form-control" placeholder="Value" aria-label="Value">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Add Costraint</button>
				</div>
				</div>
			</div>
		</div>

		<!-- Add categorical costraint modal -->
		<div class="modal fade" id="addCategoricalCostraintModal" tabindex="-1" aria-labelledby="addCategoricalCostraintModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="addCategoricalCostraintModalLabel">Add Categorical Costraint</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<!-- Costraint Name -->
						<div class="col-6">
							<div class="input-group mb-3">
								<select class="form-select" id="inputGroupCostraintName">
									<option selected>Type of Database</option>
									<option value="1">Network Protocol</option>
								</select>
							</div>
						</div>
						<!-- Costraint Value -->
						<div class="col-6">
							<div class="input-group mb-3">
								<select class="form-select" id="inputGroupCostraintName">
									<option selected>SQL</option>
									<option value="1">NoSQL</option>
									<option value="2">Graph</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Add Costraint</button>
				</div>
				</div>
			</div>
		</div>

		<link rel="stylesheet" type="text/css" href="app.css">

		<!-- Library code. -->
		<script src="lib/jquery-2.0.2.js" type="text/javascript"></script>
		<script src="lib/angular.js" type="text/javascript"></script>

		<!-- Flowchart code. -->
		<script src="debug.js" type="text/javascript"></script>
		<script src="flowchart/svg_class.js" type="text/javascript"></script>
		<script src="flowchart/mouse_capture_service.js" type="text/javascript"></script>
		<script src="flowchart/dragging_service.js" type="text/javascript"></script>
		<script src="flowchart/flowchart_viewmodel.js" type="text/javascript"></script>
		<script src="flowchart/directives/flowchart_directive.js" type="text/javascript"></script>
		<script src="flowchart/directives/flowchart_device_directive.js" type="text/javascript"></script>
		<!-- App code. -->
		<script src="app.js" type="text/javascript"></script>
	</body>
</html>